
body{
  font: helvetica;
  background-color: #ffffff;
}

.titulo{
  color: #fdee00;
  font-size: 50px;
}

.imagenes{
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.dropdown-header{
  font-size: 16px;
}

/* navbar */
/*Colores iniciales*/
.navbar-default {
    background-color: #006734;
  }

/* link */
/*Color de fuente*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*Color de la fuente cuando nos posicionamos sobre el elemento*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b2beb5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff; /*Color de la fuente de inicio*/
    background-color: #00341a;/*Color de fondo de inicio*/
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #b2beb5; /*Color del header cuando seleccionamos un dropdown*/
    background-color: #004e27; /*Color del fondo del header cuando seleccionamos un dropdown*/
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;/*Color del caret*/
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #b2beb5; /*Color del caret cuando nos posicionamos en el*/
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #b2beb5;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #006734; /*Letra del elemento posicionado*/
  background-color: #fff;  /*change color of links in drop down here*/
}

.well{
  background-color: #f5f5f5;
}

/*Este código es para la sección de noticias*/
#divImagen{
  background-image: url("../images/noticia1.jpg");
  height: 200px;
  width: 540px;
  margin: 0px;
}

#noticia{
  background-color: rgba(255, 255, 255, 0.7);
  width: 50%;
  height: 90%;
  padding: 10px;

}

#texto_noticia{
  margin: 0px;
}

.galImg{
  margin-left: 0px;
  margin-right: 10px;
}

.thumbs{
  margin: 0px;
}

.thumb{
  opacity: 0.5;
}

.thumb:hover{
  opacity: 1.0;
  transition: 1s;
}

/*Código para la sección de los icónos*/
#lista_iconos{
  list-style: none;
  justify-content: space-between;
}

.texto_icono{
  margin: 15px;
  margin-left: 0px;
  color: #006734;
}

.texto_icono:hover{
  transition: 0.5s;
  color: #cd7e26;
}

.footer{
  color: #006734;
  font-size: 15px;
}

/*Efecto dropdown on hover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .dropdown-header{
   color:  #006734;
   padding: 10px;
   padding-left: 20px;
 }

/*Modificando*/
 .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
